@model IEnumerable<DOAN.Models.Product>
<table id="sanpham">
    <tr>
        @foreach (var pro in Model)
        {
            <td id="nuocuong">

                <a href="/Product/Details/@pro.MASP">
                    <img class="anh-sp" src="@Url.Content(pro.HINHSP)" height="200" width="275" />
                    <h6>@Html.DisplayFor(model => pro.TENSP)</h6>
                    <p class="price">@Html.DisplayFor(model => pro.GIA)</p>
                </a>
            </td>
        }
    </tr>
</table>
