
@{
    ViewBag.Title = "caphe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*PHẦN MAIN*@
<div class="main">
    <div class="container">
        <div class="size-4items">
            <div class="block-title">
                <h3 class="title-main">Cà Phê Tại Nhà</h3>
            </div>
            <div class="flex-wrap">
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1684482557_bg-product-1_e9409318c09d4ad4935d1554be363429_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Đen Đá Hộp (14 gói x 16g)</a>
                        </h3>
                        <div class="price-product-items">58.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1684482444_bg-product-22_410c0caab26e43eba449e2453ac79376_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Đen Đá Túi (30 gói x 16g)</a>
                        </h3>
                        <div class="price-product-items">110.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1669707271_24lon-espresso-no_63dfa8156d2144e8aa102eefc48f41f4_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Thùng Cà Phê Sữa Espresso</a>
                        </h3>
                        <div class="price-product-items">336.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1669707292_6lon-espresso-no_8832893f9c0a407a83c9e3bb85cabb7a_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Combo 6 Lon Cà Phê Sữa Espresso</a>
                        </h3>
                        <div class="price-product-items">84.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1684727946_photo-2023-05-22-105837_979096d90a664853a9d9d2af50829674_large.jpeg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Rang Xay Original 1 Túi 1KG</a>
                        </h3>
                        <div class="price-product-items">235.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1639648297_ca-phe-rang-xay-original-1-250gr_5367803728cc48e6b9c060003c6fc9e2_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Rang Xay Original 1 250g</a>
                        </h3>
                        <div class="price-product-items">60.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/cpsd-3in1_971575_e6f4dce28c7e40249c45a6a76a7cfbc2_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Sữa Đá Hòa Tan (10 gói x 22g)</a>
                        </h3>
                        <div class="price-product-items">44.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1639648355_ca-phe-sua-da-hoa-tan-tui-25x22gr_54030c7dd21b482d9f7e7df3808e68db_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Sữa Đá Hòa Tan Túi 25x22G</a>
                        </h3>
                        <div class="price-product-items">99.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1639648313_ca-phe-sua-da-hoa-tan-dam-vi-viet_8d7a399b5dc54d0eb5e1894ffdcee324_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Hoà Tan Đậm Vị Việt (18 gói x 16 gam)</a>
                        </h3>
                        <div class="price-product-items">48.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1669707374_1642353251-ca-phe-dam-vi-viet-tui-new_763f0ec649c04a8cae7b80d3af70ec3f_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Hòa Tan Đậm Vị Việt Túi 40x16G</a>
                        </h3>
                        <div class="price-product-items">99.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/p6-lon-3in1_717216_43b3357f280c45dd8323b9687b4b41b7_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Cà Phê Sữa Đá Pack 6 Lon</a>
                        </h3>
                        <div class="price-product-items">84.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/24-lon-cpsd_225680_4936d84436a9487781ebf8ad2e4d7db3_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Thùng 24 Lon Cà Phê Sữa Đá</a>
                        </h3>
                        <div class="price-product-items">336.000 đ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

